@import "_common.less";

.view {
	display: none;
}

body[data-state="chooseNativeLang"] {
	.view.chooseNativeLang-view {
		display: block;
	}
}

body[data-state="chooseTargetLang"] {
	.view.chooseTargetLang-view {
		display: block;
	}
}


ul li a {
	display:block;
	width:100%;
	height:30px;
	color:white;
	background-color:blue;
	border:solid 1px white;
	margin: 10px auto 0 auto;
	text-align:center;
}