* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */

}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */

  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */

  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */

  background-color: #E4E4E4;
  background-image: linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -ms-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a7a7a7), color-stop(0.51, #e4e4e4));
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 1s;
}
body.loaded {
  opacity: 1;
}
@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}
header {
  height: 50px;
  position: relative;
  background-color: black;
  color: white;
  display: table;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
header h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}
#levels {
  margin: 0;
  padding: 0;
  text-align: center;
}
#levels:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}
#levels li {
  padding: 0;
  margin: 0em .2em .2em .2em;
  list-style: none;
  display: inline-block;
  width: 140px;
  height: 100px;
  background-color: #cacace;
  text-align: center;
  position: relative;
  background-position: center 20px;
  background-size: contain;
  background-repeat: no-repeat;
  text-transform: uppercase;
}
#levels li a {
  text-decoration: none;
}
#levels li > .container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: solid 1px gray;
}
#levels li > .container .name {
  display: block;
  background-color: black;
  color: white;
  padding: .5ex 0 .5ex 0;
}
